@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(85, 0, 255);
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    background-image: linear-gradient(90deg, rgba(94,0,255,1) 0%, rgba(119,0,255,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
}


a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

section {
    height: 100vh;
    width: auto;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin-inline: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.navbar li {
    margin-left: 1rem;
}

.navbar li a:hover {
    color: rgb(85, 0, 255);
    border: 1px solid rgb(85, 0, 255);
    padding: 2px;
    transition: 0.5s;
}


.hero-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 30vh;
}

.hero-image {
    height: 16rem;
    float: right;
}

.hero-sub {
    font-weight: 200;
    font-size: 1.5rem;
}

#portfolio {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,0,255,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
}

.portfolio-title {
    text-align: left;
    margin-left: 2rem;
}

.portfolio-section {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 2px solid white;
    height: 30rem;
    width: 20rem;
    margin-top: 8rem;
}

@media (max-width: 390px){
    .hero-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        height: 8rem;
        margin-top: 2rem;
    }

    .card {
        border: 2px solid white;
        height: 25rem;
        width: 20rem;
        margin-top: 8rem;
    }

    .portfolio-section {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}